@import '../../../../styles.scss';

mat-toolbar {
  display: grid;
  position: fixed;
  grid-template-columns: 20vw 60vw 20vw;
  margin: 0;
  top: 0;
  padding: 0;
  height: 8vh;
 
}

.own-menu_component-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 1vw;
}


