<mat-toolbar>
  <div class="own-menu_component-content-div">
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
    <button mat-icon-button><mat-icon>groups</mat-icon></button>
  </div>
  <div class="own-menu_component-content-div">
    <button
      class="own-menu_component-menupoints"
      mat-raised-button
      (click)="menuNavigation('main')"
      id="own-main-navigate-button"
    >
      Főoldal
    </button>
    <button
      class="own-menu_component-menupoints"
      mat-raised-button
      (click)="menuNavigation('forum')"
      id="own-forum-navigate-button"
    >
      Fórumok
    </button>
    <button
      class="own-menu_component-menupoints"
      mat-raised-button
      (click)="menuNavigation('workshop')"
      id="own-workshop-navigate-button"
    >
      Műhelyek
    </button>
    <button
      class="own-menu_component-menupoints"
      mat-raised-button
      (click)="menuNavigation('own')"
      id="own-own-navigate-button"
    >
      Saját
    </button>
  </div>
  <div class="own-menu_component-content-div">
    <button
      mat-icon-button
      [matMenuTriggerFor]="colors"
      id="own-mat-menu-button"
    >
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #colors="matMenu">
      <button
        mat-menu-item
        (click)="changeColor('basic')"
        [ngClass]="sameColor('basic') ? 'own-accent-background' : ''"
      >
        Rose & Red
      </button>
      <button
        mat-menu-item
        (click)="changeColor('azure')"
        [ngClass]="sameColor('azure') ? 'own-accent-background' : ''"
      >
        Azure & Blue
      </button>
      <button
        mat-menu-item
        (click)="changeColor('magenta')"
        [ngClass]="sameColor('magenta') ? 'own-accent-background' : ''"
      >
        Magenta & Violet
      </button>
      <button
        mat-menu-item
        (click)="changeColor('cyan')"
        [ngClass]="sameColor('cyan') ? 'own-accent-background' : ''"
      >
        Cyan & Orange
      </button>
    </mat-menu>
    <button mat-icon-button (click)="changeDarkness()">
      <mat-icon>@if(mode==='light'){brightness_2} @else {sunny}</mat-icon>
    </button>
    <button mat-icon-button><mat-icon>sensor_door</mat-icon></button>
  </div>
</mat-toolbar>
