.own-work-message_component-div {
  width: 70vw;
  min-height: 10vh;
  margin: 1vh 0;
  border-radius: 1em;
}

.own-work-message_component-message-container-div {
  width: 79vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 1vw;
}
