.own-work-message_component-container {
  width: 100%;
}

.own-work-message_component-message-div {
  min-height: 20vh;
  border: 1px solid black;
  width: 70%;
  margin-left: 5%;
  border-radius: 10px;
  display: flex;
  padding: 1vh;
  text-align: justify;
  font-size: 1.1vw;
  justify-content: space-between;
  flex-direction: column;
  
}

.own-work-message_component-message-content-div {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  color: black;
}

.own-work-message_component-message-action-div {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  
}

mat-icon {
  color: black !important;
}
