.own-timeline_component-line-container-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

hr {
  width: 95%;
  border-style: solid;
  border-width: 0.4vh;
}

span {
  text-align: left;
  width: 95%;
  font-size: 1.2vw;
}

#own-timeline_component-placeholder{

  width: 100%;
  height: 10vh;
  

}