@if (!loaded) {
<app-spinner></app-spinner>

} @else{

<app-controlpanel
  [darkmode]="isDarkmode()"
  [actualWork]="actualWork"
></app-controlpanel>
@if (messages.length>0) { @for (actualMessage of messages; track $index; let i =
$index) {
<div class="own-timeline_component-line-container-div">
  <span
    [ngClass]="
      !isDarkmode()
        ? 'own-primary-highlight-text-color'
        : 'own-accent-text-color'
    "
    >{{ actualMessage.dateOfCreation | ownDateFormater }}</span
  >
  <hr class="own-primary-highlight-text-color" />
</div>
<app-work-message
  [darkmode]="isDarkmode()"
  [actualMessage]="actualMessage"
  [actualUser]="membersOfWork.get(actualMessage.userId)"
  (commentEvent)="createComment($event)"
  [index]="i"
></app-work-message>

@for (comment of actualMessage.commentArray; track $index) {
<app-work-message-comment
  [darkmode]="isDarkmode()"
  [actualWork]="actualWork"
></app-work-message-comment>
} } } }

<div id="own-timeline_component-placeholder"></div>
