@if (!loaded) {
<app-spinner></app-spinner>

} @else{

<app-controlpanel
  [darkmode]="isDarkmode()"
  [actualWork]="actualWork"
  (reverseEvent)="reverseMessages($event)"
  [downloadable]="workContainFile()"
  [downloadFileId]="lastFileId"
></app-controlpanel>
@if (messages.length>0) { @for (actualMessage of copyedMessages; track $index;
let i = $index) {
<div class="own-timeline_component-line-container-div">
  <span
    [ngClass]="
      !isDarkmode()
        ? 'own-primary-highlight-text-color'
        : 'own-accent-text-color'
    "
    >{{ actualMessage.dateOfCreation | ownDateFormater }}</span
  >
  <hr class="own-primary-highlight-text-color" />
</div>
<app-work-message
  [darkmode]="isDarkmode()"
  [actualMessage]="actualMessage"
  [actualUser]="membersOfWork.get(actualMessage.userId)"
  (commentEvent)="createComment($event)"
  [index]="i"
  [commentable]="actualMessage.id === lastMessageId"
  [actualWork]="actualWork"
  [downloadable]="isFileMessage(actualMessage.id)"
  (deleteEvent)="deleteDialog($event)"
></app-work-message>

@for (comment of actualMessage.commentArray; track $index ) {
<app-work-message-comment
  [darkmode]="isDarkmode()"
  [actualWork]="actualWork"
  [comment]="workCommentMap.get(comment)!"
  (deleteCommentEvent)="deleteComment($event)"
  (modifyCommentEvent)="modifyComment($event)"
></app-work-message-comment>
} } } }

<div id="own-timeline_component-placeholder"></div>
