#own-public_component-left-side-div {
  width: 30vw;
  height: 100vh;
  position: fixed;
  background-color: azure;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

h1 {
  margin-bottom: auto;
}

#own-grid-center-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#own-grid-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 20vw;
  font-size: 1.2vw;
}

h1{
    font-size: 2vw;
}
