#own-public_component-left-side-div {
  width: 30vw;
  height: 100vh;
  position: fixed;

  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

h1 {
  margin-left: 1vw;
  color: black;
}

p{
  color: black;
  width: 80%;
  text-align: justify;
  font-size: 1.2vw;
}

#own-grid-center-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#own-grid-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1vw;
}

button {
  width: 20vw;
  font-size: 1.2vw;
}

h1{
    font-size: 2vw;
}
