<app-page
  [actualInfoBoardArray]="infoBoardFirstArray"
  [color]="'none'"
  [columns]="3"
>
</app-page>
<app-page
  [color]="'none'"
  [columns]="2"
  [actualInfoBoardArray]="infoBoardSecondArray"
></app-page>
<app-page
  [color]="'none'"
  [columns]="3"
  [actualInfoBoardArray]="infoBoardThirdArray"
></app-page>
<app-page
  [color]="'none'"
  [columns]="2"
  [actualInfoBoardArray]="infoBoardFourthArray"
></app-page>
<app-page
  [color]="'none'"
  [columns]="3"
  [actualInfoBoardArray]="infoBoardFifthArray"
></app-page>
<app-page
  [color]="'none'"
  [columns]="3"
  [actualInfoBoardArray]="infoBoardSixthArray"
></app-page>

