@if (!loaded) {
<app-spinner></app-spinner>
}

<div id="own-forum_component-left-side-div">
  <app-leftside-console
    [categoryTitleArray]="categoryArray"
    (filterEvent)="filter($event)"
  ></app-leftside-console>
</div>
<div
  id="own-forum_component-right-side-div"
  [@forumElementsAnimation]="{
    value: forumObjectArray,
    params: {
      actualDuration: '0.5s ease-in',
      basicOpacity: 0,
      basicScale: 0.2
    }
  }"
>
  @if (chosenForumObjectArray.length) { @for (element of chosenForumObjectArray;
  track $index; let i= $index) {
  <app-card-element
    [actualForumMessage]="chosenForumObjectArray[i]"
  ></app-card-element>
  } } @else if(forumObjectArray.length===0 && loaded ) {
  <h1 class="own-accent-text-color" style="text-align: center">
    Jelenleg nincsenek elemek
  </h1>
  } @else if(forumObjectArray.length!==0 && loaded ) {
  <h1 class="own-accent-text-color" style="text-align: center">
    {{ "A " + actualCategory + " témában jelenleg nincsen bejegyzés" }}
  </h1>
  }
</div>
