mat-card {
  min-height: 20vh;
  
  width: 65vw;
  margin: 4vh auto 4vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card:hover {
  cursor: pointer;
  margin: 4vh 0 4vh 0;
}

mat-card-header {
  font-size: 2vw;

  padding: 1vh 0 0 1vw;
  margin-bottom: 1vh;
}
mat-card-content {
  font-size: 1.2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
  max-width: 65vw;
}
mat-card-footer {
  font-size: 1.2vw;
  text-align: end;
  padding-right: 1vw;
}

.light {
  color: black;
}


@media (max-width: 1024px) {

  mat-card-header{
    font-size: 3vw;
  }

  mat-card-content{
    font-size: 2vw;
  }

  mat-card-footer{
    font-size: 1.5vw;
  }

  }