mat-card {
  min-height: 20vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  align-items: center;
  width: 65vw;
  padding: 1vh 2.5%;
  margin: 4vh auto 4vh auto;
}

mat-card:hover {
  cursor: pointer;
  rotate: -0.5deg;
  scale: 105%  ;
  z-index: 99;
}

mat-card-header {
  font-size: 2vw;
  text-align: start;
  padding: 1vh 0 0 0;
  margin-bottom: 1vh;
}
mat-card-content {
  font-size: 1.2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
  max-width: 65vw;
}
mat-card-footer {
  font-size: 1.2vw;
  text-align: end;
}

.light{
  
  color: black;
}




