.own-page_component-div {
  height: 92vh;
}

.own-page_component-grid-display-3column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.own-page_component-grid-display-2column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {

  .own-page_component-div {
    height: 276vh;
  }

  .own-page_component-grid-display-3column  {
    grid-template-columns: 1fr;
  }

  .own-page_component-grid-display-2column{
    grid-template-columns: 1fr;
  }
}