<div
  [ngClass]="[
    columns === 2
      ? 'own-page_component-grid-display-2column'
      : 'own-page_component-grid-display-3column',
    color === 'primary'
      ? 'own-primary-background '
      : color === 'highlight'
      ? 'own-primary-highlight-background'
      : color === 'accent'
      ? 'own-accent-background'
      : ''
  ]"
  class="own-page_component-div page-component"
>
  @for (infoboard of actualInfoBoardArray; track $index) {
  <app-infoboard-in-main [actualInfoBoard]="infoboard"></app-infoboard-in-main>
  }
</div>
