.own-work-message-comment_component-div {
  width: 60vw;
  min-height: 10vh;
  margin: 1vh 0;
  border-radius: 1em;
  border: 1px white solid;
}

.own-work-message_component-message-comment-container-div {
  width: 79vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
  

}
