.own-workcard_component-card-div {
  width: 72.5vw;
  height: 10vh;
  margin: 1vh 0;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  
}:hover{
    scale: 1.01;
    cursor: pointer;
}


.own-workcard-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    color:black;
    text-align: center;
}