#own-forum-element-info_component-forum-content {
  width: 90vw;
}

h1 {
  text-align: center;
  height: 100%;
  width: 100%;
}

mat-card {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vh auto;
}

mat-card-header {
  font-size: 2vw;
  text-align: start;
}
mat-card-content {
  font-size: 1.2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
  align-items: flex-start;
  max-width: 90vw;
}
mat-card-footer {
  font-size: 1.2vw;
  text-align: end;
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: end;
  align-items: center;
}

mat-icon {
  color: black;
}

.own-dark-comment {
  width: 80vw;
  border: 1px outset white;
  box-shadow: 1px 1px 5px white;
  color: white;
  padding: 1vh;

  mat-icon {
    color: white;
  }
}

.own-light-comment {
  width: 80vw;
  border: 1px outset black;
  box-shadow: 1px 1px 5px black;
  padding: 1vh;
  color: black;
}
