<mat-card
  id="own-forum-element-info_component-forum-content"
  [ngClass]="
    isDarkmode() ? 'own-primary-highlight-background' : 'own-accent-background'
  "
  [ngStyle]=" !isDarkmode() ? {'color':'black'}:{}"
>
  <mat-card-header>a</mat-card-header>
  <mat-card-content
    >asdasdasdasd asd asd asd as d asd as d asd as d asd a sd as da sd as da sd
    as da sd as d asd a sdasda as da sd aa sd asd asd asd asd as d a sd a sd
    asdasdas d sd fg dff w df sd g we fw df sdv sd f wf as f d as d asd as d asd
    a sd as da sd as da sd as da sd as d asd a sdasda as da sd aa sd asd asd asd
    asd as d a sd a sd asdasdas d sd fg dff w df sd g we fw df sdv sd f wf as f
    d as d asd as d asd a sd as da sd as da sd as da sd as d asd a sdasda as da
    sd aa sd asd asd asd asd as d a sd a sd asdasdas d sd fg dff w df sd g we fw
    df sdv sd f wf as f d as d asd as d asd a sd as da sd as da sd as da sd as d
    asd a sdasda as da sd aa sd asd asd asd asd as d a sd a sd asdasdas d sd fg
    dff w df sd g we fw df sdv sd f wf as f d as d asd as d asd a sd as da sd as
    da sd as da sd as d asd a sdasda as da sd aa sd asd asd asd asd as d a sd a
    sd asdasdas d sd fg dff w df sd g we fw df sdv sd f wf as asd as d a sd a sd
    asdasdas d sd fg dff w df sd g we fw df sdv sd f wf as f d as d asd as d asd
    a sd as da sd as da sd as da sd as d asd a sdasda as da sd aa sd asd asd asd
    asd as d a sd a sd asdasdas d sd fg dff w df sd g we fw df sdv sd f wf as f
    d as d asd as d asd a sd as da sd as da sd as da sd as d asd a sdasda as da
    sd aa sd asd asd asd asd as d a sd a sd asdasdas d sd fg dff w df sd g we fw
    df sdv sd f wf as f d as d asd as d asd a sd as da sd as da sd as da sd as d
    asd a sdasda as da sd aa sd asd asd asd asd as d a sd a sd asdasdas d sd fg
    dff w df sd g we fw df sdv sd f wf as f</mat-card-content
  >
  <mat-card-footer
    ><button mat-icon-button>
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-icon-button><mat-icon>comment</mat-icon></button>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  </mat-card-footer>
</mat-card>

<mat-card [ngClass]="isDarkmode() ? 'own-dark-comment' : 'own-light-comment'"
  >aasd
</mat-card>
<mat-card [ngClass]="isDarkmode() ? 'own-dark-comment' : 'own-light-comment'"
  >aasd
</mat-card>
<mat-card [ngClass]="isDarkmode() ? 'own-dark-comment' : 'own-light-comment'"
  >aasd
</mat-card>
