@if (!loaded) {
<app-spinner></app-spinner>
} @if (actualForumElement && loaded) {
<mat-card
  id="own-forum-element-info_component-forum-content"
  [ngClass]="
    isDarkmode() ? 'own-primary-highlight-background' : 'own-accent-background'
  "
  [ngStyle]="!isDarkmode() ? { color: 'black' } : {}"
>
  <mat-card-header>{{ actualForumElement?.title }}</mat-card-header>
  <mat-card-content>{{ actualForumElement?.text }} </mat-card-content>
  <mat-card-footer>
    <span>Készítette: {{ actualForumElement?.author }}</span>
    <div>
      @if (isMyForumElement()) {
      <button mat-icon-button (click)="deleteForumElement()">
        <mat-icon>delete</mat-icon>
      </button>
      }
      <button mat-icon-button (click)="Interact('dislikeArray')">
        <mat-icon
          [matBadge]="numberOfSpecificAction('dislikeArray')"
          [matBadgeHidden]="numberOfSpecificAction('dislikeArray') === 0"
          [ngStyle]="
            didYouInteractWithThis('dislikeArray') ? { color: 'red' } : {}
          "
          >thumb_down</mat-icon
        >
      </button>
      <button mat-icon-button (click)="commentAction()">
        <mat-icon
          [matBadge]="numberOfSpecificAction('commentsIdArray')"
          [matBadgeHidden]="numberOfSpecificAction('commentsIdArray') === 0"
          >comment</mat-icon
        >
      </button>
      <button mat-icon-button (click)="Interact('likeArray')">
        <mat-icon
          [matBadge]="numberOfSpecificAction('likeArray')"
          [matBadgeHidden]="numberOfSpecificAction('likeArray') === 0"
          [ngStyle]="
            didYouInteractWithThis('likeArray') ? { color: 'red' } : {}
          "
          >favorite</mat-icon
        >
      </button>
    </div>
  </mat-card-footer>
</mat-card>

@for (comment of commentsOfActualForumElementArray; track $index; let i = $index) {
<mat-card [ngClass]="isDarkmode() ? 'own-dark-comment' : 'own-light-comment'">
  <mat-card-content>{{ comment.content }}</mat-card-content>
  <mat-card-footer>
    <div><button mat-icon-button  (click)="deleteComment(i)"><mat-icon>delete</mat-icon></button></div>
    <div>{{ "Készítette:" + comment.author }}</div></mat-card-footer>
</mat-card>
} }@else {
<h1>Ilyen bejegyzés nincs</h1>
}
