@if (endPoint!=='workcreator') {
<div
  class="own-primary-background own-accent-text-color"
  id="own-left-side-controller_component-div"
>
  @if (endPoint === 'all' || endPoint==='my') {

  <div class="own-left-side-controller_component-first-div">
    <div></div>
    <span [ngStyle]="isDarkmode() ? {} : { color: 'black' }">Munkáim</span>
  </div>
  <div class="own-left-side-controller_component-second-div">
    <button
      mat-flat-button
      class="own-accent-background"
      (click)="createNavigation()"
    >
      Új munkamenet létrehozása
    </button>
    <button mat-flat-button>Munkamenet törlése</button>
    <button mat-flat-button (click)="switchWorklist()">
      @if (endPoint==='my') {Összes munka listázása} @else {Általam létrehozott
      munkák}
    </button>
  </div>
  <div class="own-left-side-controller_component-thirth-div"></div>

  } @else if (endPoint!=='all' && endPoint!=='my' && endPoint!=='workcreator') {

  <div class="own-left-side-controller_component-first-div">
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span [ngStyle]="isDarkmode() ? {} : { color: 'black' }">XYMunka</span>
  </div>
  <div class="own-left-side-controller_component-second-div">
    <button mat-flat-button>Résztvevő hozzáadása</button>
    <button mat-flat-button (click)="createMessage()">
      Bejegyzés hozzáadása
    </button>
    <button mat-flat-button>Komment törlése</button>
  </div>
  <div class="own-left-side-controller_component-thirth-div"></div>

  }
</div>
}@else {
<div
  id="own-workcreator-div"
  class="own-primary-background own-accent-text-color"
>
  <div class="own-left-side-controller_component-first-div">
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span [ngStyle]="isDarkmode() ? {} : { color: 'white' }">XYMunka</span>
  </div>
  <div class="own-workcreator-content-div">
    <h1 [ngStyle]="isDarkmode() ? {} : { color: 'white' }">
      Eddigi csapattagok
    </h1>
    <div class="own-workcreator-operations-div"></div>
  </div>
  <div class="own-workcreator-content-div">
    <h1>Eddig használt nevek</h1>
    <div  class="own-workcreator-operations-div">a</div>
  </div>
</div>
}
