<div
  class="own-primary-background own-accent-text-color"
  id="own-left-side-controller_component-div"
>
  @if (direction==='basic') {

  <div class="own-left-side-controller_component-first-div">
    <div></div>
    <span>Munkáim</span>
  </div>
  <div class="own-left-side-controller_component-second-div">
    <button mat-flat-button class="own-accent-background" (click)="createNavigation()">
      Új munkamenet létrehozása
    </button>
    <button mat-flat-button>Munkamenet törlése</button>
    <button mat-flat-button>Egyéni munkák listázása</button>
  </div>
  <div class="own-left-side-controller_component-thirth-div"></div>

  } @else if (direction==='specific') {

  <div class="own-left-side-controller_component-first-div">
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <span>XYMunka</span>
  </div>
  <div class="own-left-side-controller_component-second-div">
    <button mat-flat-button>Résztvevő hozzáadása</button>
    <button mat-flat-button (click)="createMessage()">Bejegyzés hozzáadása</button>
    <button mat-flat-button>Komment törlése</button>
  </div>
  <div class="own-left-side-controller_component-thirth-div"></div>

  }
</div>
