#own-left-side-controller_component-div {
  width: 20vw;
  height: 92vh;
  position: fixed;
  border-right: 2px outset white;
  border-top: 2px inset white;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  justify-content: center;
  align-items: center;
}

.own-left-side-controller_component-first-div  {
  width: 20vw;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px outset white;
  text-align: center;
}
.own-left-side-controller_component-second-div {
  border-bottom: 2px outset white;
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  button {
    width: 90%;
    min-height: 15%;
  }
}

#own-workcreator-div {
  display: grid;
  grid-template-rows: 10% 1fr 1fr;
  width: 20vw;
  height: 92vh;
  position: fixed;
}

.own-workcreator-content-div {
  display: grid;
  grid-template-rows: 30% 1fr;

  h1 {
    font-size: 1.5vw;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-end;
    padding-left: 1vw;
  }
}

.own-workcreator-operations-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
  button{
    width: 80%;
    padding: 2vh 0;
  }
}

 