form {
  width: 50vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  border: 1px white, solid;
  padding: 2vh 0;
  z-index: -99;
  border-radius: 5em;
  
}

mat-form-field {
  width: 40vw;
}

button {
  width: 20vw;
  font-size: 1.2vw;
}
