@if (!loaded) {

<app-spinner></app-spinner>
} @else {

<mat-tab-group>
  <mat-tab label="Felhasználói adatok" id="own-user-tab-button">
    <div class="own-mat-tab-div" id="own-user-data-div">
      <mat-card
        id="own-user-matcard"
        class="own-account-info-div"
        [ngStyle]="
          isDarkmode()
            ? { 'border-color': 'white' }
            : { 'border-color': 'black' }
        "
        [ngClass]="isDarkmode() ? 'own-accent-text-color ' : ''"
      >
        <div
          id="own-img-container-div"
          [ngStyle]="
            isDarkmode()
              ? { 'border-right': '1px solid white' }
              : { 'border-right': ' 1px solid black' }
          "
        >
          <img
            [src]="actualUser.gender === 'Férfi' ? '/man.png' : '/woman.png'"
            class="own-img-div-1"
            alt="profilePicture"
          />
        </div>

        <div class="own-mat-content-container">
          @if (displayDatas) {
          <mat-card-header [ngStyle]="isDarkmode() ? { color: 'white' } : {}"
            >Adataim</mat-card-header
          >
          <mat-card-content id="own-user-conten-card">
            @for (key of keyArray; track $index) {

            <div
              [ngStyle]="
                isDarkmode()
                  ? {
                      color: 'white',
                      'padding-left': '1vw',
                      'border-color': '#eeeeee'
                    }
                  : { color: 'black', 'padding-left': '1vw' }
              "
              class="own-user-data-field-title"
            >
              {{ keyTransleater[key] }}
            </div>
            @if (isTimestamp(actualUser[key])) {
            <div
              style="justify-content: flex-end; padding-right: 1vw"
              [ngStyle]="isDarkmode() ? { 'border-color': '#eeeeee' } : {}"
              class="own-user-data-field-value"
            >
              {{ actualUser[key] | ownDateFormater }}
            </div>
            } @else {
            <div
              style="justify-content: flex-end; padding-right: 1vw"
              [ngStyle]="isDarkmode() ? { 'border-color': '#eeeeee' } : {}"
              class="own-user-data-field-value"
            >
              {{ actualUser[key] }}
            </div>
            } }
          </mat-card-content>
          } @else {
          <mat-card-header>Az adatok betöltése sikertelen</mat-card-header>
          }
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Munkaadatok" id="own-work-tab-button">
    <div class="own-mat-tab-div" id="own-work-data-div">
      <mat-card
        id="own-work-matcard"
        class="own-work-info-div"
        [ngStyle]="
          isDarkmode()
            ? { 'border-color': 'white' }
            : { 'border-color': 'black' }
        "
        [ngClass]="isDarkmode() ? 'own-accent-text-color ' : ''"
      >
        <mat-card-header [ngStyle]="isDarkmode() ? { color: 'white' } : {}"
          >Munkáimról</mat-card-header
        >
        <mat-card-content id="own-work-content-data">
          @for (array of createWorkMatCardObject(); track $index; let i =
          $index) {
          <div
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[0] }}
          </div>
          @if (isTimestamp(array[1])) {
          <div
            style="justify-content: flex-end; padding-right: 1vw"
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[1] | ownDateFormater }}
          </div>
          } @else {
          <div
            style="justify-content: flex-end; padding-right: 1vw"
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[1] + " db" }}
          </div>
          } }
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Módosítások" id="own-modify-tab-button">
    <div class="own-mat-tab-div" id="own-modify-data-div">
      <mat-card
        id="own-modify-matcard"
        class="own-work-info-div"
        [ngStyle]="
          isDarkmode()
            ? { border: '1px solid white' }
            : { border: '1px solid black' }
        "
      >
        <div
          id="own-mat-modify-options-div"
          [ngStyle]="
            isDarkmode()
              ? { 'border-right': '1px solid white' }
              : { 'border-right': '1px solid black' }
          "
        >
          @for (key of getObjectInArray(modifyKeyValueObj) ; track $index; let i
          = $index) {
          <div
            class="own-modify-div-element"
            [ngStyle]="
              i !== getObjectInArray(modifyKeyValueObj).length - 1
                ? isDarkmode()
                  ? { 'border-bottom': '1px solid white' }
                  : { 'border-bottom': '1px solid black' }
                : {}
            "
          >
            <div>
              <span
                [ngStyle]="
                  isDarkmode() ? { color: 'white' } : { color: 'black' }
                "
                >{{ key[0] }}</span
              >:
              <span [ngClass]="isDarkmode() ? 'own-accent-text-color' : ''">{{
                actualUser[transformStringToKey(key[1])]
              }}</span>
            </div>
            <div style="display: flex; justify-content: flex-end">
              @if (!stringInActualFormcontrolKeys(key[1])) {
              <button mat-flat-button (click)="buttonAction(key[1])" class="own-modify-button">
                Módosítom
              </button>
              }@else {
              <button mat-flat-button (click)="buttonAction('back')">
                Mégsem
              </button>
              }
            </div>
          </div>
          }
        </div>
        <form [formGroup]="modifyForm" id="own-form-div">
          @if (displayForm) { @for (control of getElementsFromFormcontrol();
          track $index) { @if (control!== 'gender') {
          <mat-form-field>
            <mat-label>{{ labelForMatFormField(control) }}</mat-label>
            <input
              [type]="
                getElementsFromFormcontrol().length > 1 ? 'password' : 'text'
              "
              matInput
              [formControlName]="control"
            />
            @if (modifyForm.get(control)?.hasError('required')) {
            <mat-error>Kötelezően kitöltendő mező</mat-error>
            } @else if (modifyForm.get(control)?.hasError('minlength') ) {
            <mat-error>Túl rövid (6)</mat-error>
            }</mat-form-field
          >} @else {

          <mat-form-field>
            <mat-label>Nem</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Férfi">Férfi</mat-option>
              <mat-option value="Nő">Nő</mat-option>
            </mat-select>
            @if (modifyForm.get(control)?.hasError('required') ) {
            <mat-error>Kötelezően kitöltendő mező</mat-error>
            }
          </mat-form-field>

          } }
          <button
            mat-flat-button
            class="own-primary-highlight-background"
            (click)="modify()"
          >
            Módosít
          </button>
          }
        </form>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

}
