.own-mat-tab-div {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.own-account-info-div {
  width: 60vw;
  height: 70vh;
  border: 1px black solid;
}

#own-user-matcard {
  display: grid;
  grid-template-columns: 30% 1fr;
}

#own-img-container-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-header {
  font-size: 2vw;
  padding: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.own-img-div-1 {
  width: 95%;
  height: 50%;
}

#own-user-conten-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  font-size: 1.2vw;
}

.own-mat-content-container {
  display: grid;
}

#own-user-conten-card div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

#own-work-matcard {
  display: grid;
  grid-template-rows: 30% 1fr;
}

.own-work-info-div {
  width: 60vw;
  height: 70vh;
  border: 1px black solid;
}

#own-work-content-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  font-size: 1.5vw;
}

#own-work-content-data div {
  display: flex;
  align-items: center;
}

#own-modify-matcard {
  display: grid;
  grid-template-columns: 60% 1fr;
}

#own-mat-modify-options-div {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.own-modify-div-element {
  width: 90%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 1fr;

}

#own-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

#own-form-div 
mat-form-field {
  width: 90%;
}


#own-form-div button{
  width: 40%;
  min-width: 100px;
}

