.own-mat-tab-div {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.own-account-info-div{
    width: 40vw;
    height: 60vh;
   border: 1px black solid;
}

#own-user-matcard{


display: grid;
grid-template-columns: 30% 1fr;

}

#own-img-container-div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.own-img-div-1{
 
  width: 95%;
  height: 50%;

}