@if (!loaded) {

<app-spinner></app-spinner>
} @else {

<mat-tab-group>
  <mat-tab label="Felhasználói adatok">
    <div class="own-mat-tab-div">
      <mat-card
        id="own-user-matcard"
        class="own-account-info-div"
        [ngStyle]="
          isDarkmode()
            ? { 'border-color': 'white' }
            : { 'border-color': 'black' }
        "
        [ngClass]="isDarkmode() ? 'own-accent-text-color ' : ''"
      >
        <div
          id="own-img-container-div"
          [ngStyle]="
            isDarkmode()
              ? { 'border-right': '1px solid white' }
              : { 'border-right': ' 1px solid black' }
          "
        >
          <img [src]="actualUser.gender==='Férfi' ? '/man.png':'women.png' " class="own-img-div-1" alt="profilePicture" />
        </div>

        <div class="own-mat-content-container">
          @if (displayDatas) {
          <mat-card-header [ngStyle]="isDarkmode() ? { color: 'white' } : {}"
            >Adataim</mat-card-header
          >
          <mat-card-content id="own-user-conten-card">
            @for (key of keyArray; track $index) {

            <div
              [ngStyle]="
                isDarkmode()
                  ? {
                      color: 'white',
                      'padding-left': '1vw',
                      'border-color': '#eeeeee'
                    }
                  : { color: 'black', 'padding-left': '1vw' }
              "
            >
              {{ keyTransleater[key] }}
            </div>
            @if (isTimestamp(actualUser[key])) {
            <div
              style="justify-content: flex-end; padding-right: 1vw"
              [ngStyle]="isDarkmode() ? { 'border-color': '#eeeeee' } : {}"
            >
              {{ actualUser[key] | ownDateFormater }}
            </div>
            } @else {
            <div
              style="justify-content: flex-end; padding-right: 1vw"
              [ngStyle]="isDarkmode() ? { 'border-color': '#eeeeee' } : {}"
            >
              {{ actualUser[key] }}
            </div>
            } }
          </mat-card-content>
          } @else {
          <mat-card-header>Az adatok betöltése sikertelen</mat-card-header>
          }
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Munkaadatok">
    <div class="own-mat-tab-div">
      <mat-card
        id="own-work-matcard"
        class="own-work-info-div"
        [ngStyle]="
          isDarkmode()
            ? { 'border-color': 'white' }
            : { 'border-color': 'black' }
        "
        [ngClass]="isDarkmode() ? 'own-accent-text-color ' : ''"
      >
        <mat-card-header [ngStyle]="isDarkmode() ? { color: 'white' } : {}"
          >Munkáimról</mat-card-header
        >
        <mat-card-content id="own-work-content-data">
          @for (array of createWorkMatCardObject(); track $index; let i =
          $index) {
          <div
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[0] }}
          </div>
          @if (isTimestamp(array[1])) {
          <div
            style="justify-content: flex-end; padding-right: 1vw"
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[1] | ownDateFormater }}
          </div>
          } @else {
          <div
            style="justify-content: flex-end; padding-right: 1vw"
            [ngStyle]="
              isDarkmode()
                ? { 'border-bottom': '1px solid white' }
                : { 'border-bottom': '1px solid black' }
            "
          >
            {{ array[1] + " db" }}
          </div>
          } }
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Módosítások">
    <div class="own-mat-tab-div">szilva</div>
  </mat-tab>
</mat-tab-group>

}
