<div id="own-controlpanel_component-div" class="own-primary-background">
  <div [ngStyle]="darkmode ? { color: 'white' } : {}">
    <div id="own-date-div" class="own-primary-highlight-background">
      <span id="own-date-title-span">Utoljára módosítva: </span>
      <span id="own-date-span">{{
        actualWork.modified | ownDateFormater
      }}</span>
    </div>
    <div id="own-controlpanel_component-left-action-div">

      @if (isPageScrollable()) {
        <button mat-icon-button (click)="scrollPage('up')"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button (click)="scrollPage('down')"><mat-icon>arrow_downward</mat-icon></button>

      }

      <button mat-icon-button (click)="reverse()">
        <mat-icon>swap_vert</mat-icon>
      </button>
      @if (downloadable) {
      <button mat-flat-button (click)="download()">Letöltés</button>
      }
    </div>
  </div>
  <div id="own-controlpanel_component-button-div">
    @if (userId===actualWork.userId) { @if (!actualWork.finished) {
    <button mat-flat-button (click)="finishOrStartWork()">Befejez</button>
    }@else {
    <button mat-flat-button (click)="finishOrStartWork()">Újra elkezdés</button>
    }

    <button mat-flat-button>Résztvevők</button>

    }
    <button mat-flat-button (click)="message()">Új bejegyzés</button>
  </div>
</div>
