<form @signupAnimation>
  <mat-form-field>
    <mat-label>Vezetéknév:</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Keresztnév:</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email-cím:</mat-label>
    <input type="email" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Város:</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tel-szám:</mat-label>
    <input type="tel" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jelszó:</mat-label>
    <input type="password" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Jelszó megerősítése:</mat-label>
    <input type="password" matInput />
  </mat-form-field>
  <button mat-flat-button>Regisztráció</button>
</form>
