@use "@angular/material" as mat;
@import "../src/app/shared/styles/colors.scss";
@import "../src/app/shared/styles/spinner.scss";
@include mat.core();

$primary-dark-const: 20;
$primary-light-const: 60;
$primary-dark-highlight-const: 80;
$primary-light-highlight-const: 40;
$accent-light-const: 70;
$accent-dark-const: 60;

.basic-light {
  $primary-color: mat.get-theme-color(
    $basic_light-theme,
    primary,
    $primary-light-const
  );
  $primary-highlight: mat.get-theme-color(
    $basic_light-theme,
    primary,
    $primary-light-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $basic_light-theme,
    tertiary,
    $accent-light-const
  );
  background: mat.get-theme-color($basic_light-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }

  mat-icon {
    color: black;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }

  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }

  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($basic_light-theme);
}

.basic-dark {
  $primary-color: mat.get-theme-color(
    $basic_dark-theme,
    primary,
    $primary-dark-const
  );
  $primary-highlight: mat.get-theme-color(
    $basic_dark-theme,
    primary,
    $primary-dark-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $basic_dark-theme,
    tertiary,
    $accent-dark-const
  );
  background: mat.get-theme-color($basic_dark-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: $accent-color;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }
  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($basic_dark-theme);
}

.azure-light {
  $primary-color: mat.get-theme-color(
    $azure_blue_light-theme,
    primary,
    $primary-light-const
  );
  $primary-highlight: mat.get-theme-color(
    $azure_blue_light-theme,
    primary,
    $primary-light-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $azure_blue_light-theme,
    tertiary,
    $accent-light-const
  );
  background: mat.get-theme-color($azure_blue_light-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: black;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }

  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($azure_blue_light-theme);
}

.azure-dark {
  $primary-color: mat.get-theme-color(
    $azure_blue_dark-theme,
    primary,
    $primary-dark-const
  );
  $primary-highlight: mat.get-theme-color(
    $azure_blue_dark-theme,
    primary,
    $primary-dark-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $azure_blue_dark-theme,
    tertiary,
    $accent-dark-const
  );
  background: mat.get-theme-color($azure_blue_dark-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: $accent-color;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }

  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($azure_blue_dark-theme);
}

.magenta-light {
  $primary-color: mat.get-theme-color(
    $magenta_violet_light-theme,
    primary,
    $primary-light-const
  );
  $primary-highlight: mat.get-theme-color(
    $magenta_violet_light-theme,
    primary,
    $primary-light-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $magenta_violet_light-theme,
    tertiary,
    $accent-light-const
  );
  background: mat.get-theme-color($magenta_violet_light-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: black;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }
  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($magenta_violet_light-theme);
}

.magenta-dark {
  $primary-color: mat.get-theme-color(
    $magenta_violet_dark-theme,
    primary,
    $primary-dark-const
  );
  $primary-highlight: mat.get-theme-color(
    $magenta_violet_dark-theme,
    primary,
    $primary-dark-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $magenta_violet_dark-theme,
    tertiary,
    $accent-dark-const
  );
  background: mat.get-theme-color($magenta_violet_dark-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: $accent-color;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }
  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($magenta_violet_dark-theme);
}

.cyan-light {
  $primary-color: mat.get-theme-color(
    $cyan_orange_light-theme,
    primary,
    $primary-light-const
  );
  $primary-highlight: mat.get-theme-color(
    $cyan_orange_light-theme,
    primary,
    $primary-light-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $cyan_orange_light-theme,
    tertiary,
    $accent-light-const
  );
  background: mat.get-theme-color($cyan_orange_light-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: black;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }
  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($cyan_orange_light-theme);
}

.cyan-dark {
  $primary-color: mat.get-theme-color(
    $cyan_orange_dark-theme,
    primary,
    $primary-dark-const
  );
  $primary-highlight: mat.get-theme-color(
    $cyan_orange_dark-theme,
    primary,
    $primary-dark-highlight-const
  );
  $accent-color: mat.get-theme-color(
    $cyan_orange_dark-theme,
    tertiary,
    $accent-dark-const
  );
  background: mat.get-theme-color($cyan_orange_dark-theme, surface);
  color: $primary-color;
  mat-toolbar {
    background-color: $primary-color;
  }
  mat-icon {
    color: $accent-color;
  }
  .own-primary-background {
    background-color: $primary-color;
  }
  .own-primary-highlight-background {
    background-color: $primary-highlight;
  }
  .own-accent-background {
    background-color: $accent-color;
  }
  .own-primary-text-color {
    color: $primary-color;
  }
  .own-primary-highlight-text-color {
    color: $primary-highlight;
  }
  .own-accent-text-color {
    color: $accent-color;
  }
  .own-mat-progress-spinner {
    @include spinner($accent-color);
  }

  @include mat.all-component-themes($cyan_orange_dark-theme);
}

:root {
  @include mat.all-component-themes($basic_light-theme);
}

.own-custom-snackbar {
  
  margin-bottom: 9vh !important;
  z-index: 99;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}
