#own-public_component-right-side-div {
  margin-left: 30vw;
  width: 70vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


