.own-info_in_main_component-div {
  position: relative;
  width: 60%;
  min-height: 25vh;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  opacity: 0.9;
}

mat-icon {
  color: black;
}

.own-infoboard-content-div {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 2vw;
  }
  p {
    font-size: 1.2vw;
  }
  mat-icon {
    //position: absolute;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 1024px) {
  .own-info_in_main_component-div {
    width: 40%;
  }

  .own-infoboard-content-div {
    
    h1{
      font-size: 4vw;
    }

    p {
      font-size: 3vw;
    }
  }
}
