<mat-card
  [appearance]="'raised'"
  [ngClass]="
    actualInfoBoard.color === 'primary'
      ? 'own-primary-background '
      : actualInfoBoard.color === 'highlight'
      ? 'own-primary-highlight-background'
      : actualInfoBoard.color === 'accent'
      ? 'own-accent-background'
      : ''
  "
  class="own-info_in_main_component-div"
  [@infoElementAnimation]="animation()"
>
  @if (!collectionDisplay){
  <mat-icon>{{ actualInfoBoard.icon }}</mat-icon>
  } @else {
  <div class="own-infoboard-content-div">
    <h1>{{ actualInfoBoard.title }}</h1>
    <mat-icon>{{ actualInfoBoard.icon }}</mat-icon>
    <div><p>{{ actualInfoBoard.text }}<p></div>
  </div>
  }
</mat-card>
