#own-private_component-container-div {
  margin-top: 8vh;
  min-height: 92vh;
  width: 100%;
  position: absolute;
}



@media (max-height: 560px) {

  #own-private_component-container-div{
    margin-top: 50px;
  }

  }